name: Deploy to Bluehost cPanel

on:
  push:
    branches:
      - main  # Set this to your default branch name

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
      
      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: ./  # Upload directly to the FTP user's root (which we are setting to public_html)
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/design/**
            **/screenshots/**
            **/*.py
            **/*.md
            package-lock.json
            package.json
            .gitignore
            .env
